:root{
    /* Defines a global variable for color*/
    --pink: #f8bcbf; 
    --pink_hover: #faa2a7;
}

/* Default font for body*/
body {
    background-color: #fdf7f7;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}


/* Apply desired font color & weight */
.fw{ 
    font-size: x-large;
}
.color-pink{
    color: #faa2a7;
}
.dark-pink {
    color: #ee6e6e;
}

/* Adding preferred font */
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.col-lg-12.bg-white.shadow.p-4.rounded .mb-4{
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-size: xx-large;
    text-align: center;
}


/* Removes the default styling provided by the browser */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Header settings */
.nav-item{
    font-weight: 600;
}
a.nav-link:hover{
    color: #faa2a7 !important;
}
.heading h2 {
    margin: 30px 0;
    font-size: 45px;
    color: #faa2a7;
    font-weight: 400;
}


/* Container Settings */
.container span{
    font-weight: 600;
    color: #fc7a81;
}
.card-body h5{
    font-weight: 600;
    color:#faa2a7;
}
.container .card-body h6.mb-4  span{
    font-weight: 600;
    color: rgb(255, 202, 29);
}

.container p{
    text-align: justify;
}


/* Buttons */
.btn{
    font-weight: 600;
}
.custom-bg{
    background-color: var(--pink);
    border: 1px solid var(--pink);
}
.custom-bg:hover{
    background-color: var(--pink_hover);
    border-color: var(--pink_hover);
}
.btn-outline-dark{
    background-color: #fc7a8000;
    color: #fc7a81;
    border-color: #faa2a7;
}
.btn-outline-dark:hover{
    background-color: #fc7a81;
    color: white;
    border-color: #fc7a81;          
}
.btn.btn-dark{
    background-color: #fc7a81;
    color: white;
    border: none;
}
.btn.btn-dark:hover{
    background-color: #ffa5a9;
}


/* Footer */
.container-fluid.bg-dark, h6.bg-dark{
    background-color: #1f1818;
}
h5.mb-3{
    font-weight: 600;
    color: #f8b9bc;
}
h6.text-white{
    color: #fdfdfd !important;
}
h6.bg-dark{
    border-color: #fdfdfd;
}



/* Box Hover Style */
.box {
    border-top-color: var(--pink) !important; /* Ensure the border color of the boxes is consistent */
}

.col-lg-5.col-md-5.mb-4.order-lg-1.order-md-2.order-1 img {
    border-radius: 20px; /
}

.box :hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.box {
    transition: box-shadow 0.3s, transform 0.3s;
}

.box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}